name: auto-approve
on:
  pull_request_target:
    types:
      - opened
      - labeled
      - ready_for_review
      - reopened
concurrency: ${{ github.workflow }}-${{ github.ref }}
jobs:
  approve:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    if: contains(github.event.pull_request.labels.*.name, 'auto-approve') && github.event.pull_request.draft == false
    steps:
      - name: Checkout PR
        uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4.1.0
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
      - name: Auto-approve PRs by other users as team-tf-cdk
        if: github.event.pull_request.user.login != 'team-tf-cdk' && (contains(fromJSON('["OWNER", "MEMBER", "COLLABORATOR"]'), github.event.pull_request.author_association) || github.actor == 'dependabot[bot]')
        env:
          GH_TOKEN: ${{ secrets.TEAM_TF_CDK }}
        run: gh pr review ${{ github.event.pull_request.number }} --approve
      - name: Auto-approve PRs by team-tf-cdk as github-actions[bot]
        if: github.event.pull_request.user.login == 'team-tf-cdk'
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh pr review ${{ github.event.pull_request.number }} --approve
